.popup {
    position: absolute;
    width: 91.5%;
    height: 87.5%;

    .popup__close {
        float: right;
        border:none;
        background: none;
        font-size: 3em;
        cursor: pointer;
    }

    .popup__content {
        font-size: 10em;
        text-align: center;
    }
}
